.bag {
    background-color: #a5c8cf;
}

.reg {
    background-color: #82c4cf;
    width: 500px !important;
    margin: -8px auto;
    padding: 2% !important;
}

.log {
    background-color: #82c4cf;
    width: 400px !important;
    margin: 200px auto;
    padding: 2% !important;
}